body {
    margin:0;
    padding:0;
}

header {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
}

/* LOGIN FORM & REGISTRATION FORM */

.loginForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginForm input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginForm .submitForm input {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: green;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.loginForm h2 {
    text-align: center;
    color: black;
}

/* HEADER */

header .main-header {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

header .main-header h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

header .main-header a {
    color: #ffffff;
    text-decoration: none;
}

header .main-header nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 60px;
    padding: 0;
}

header .main-header nav a {
    font-size: 14px;
    display: inline-block;
    padding: 0 5px;
    opacity: 0.9;
    text-decoration: none;
    line-height: 1;
}

header .main-header ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
}

header .main-header ul li {
    display: inline-block;
    margin-left: 15px;
    opacity: 0.9;
}

/* ADD EVENT FORM */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup-inner {
    color: black;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    margin: auto;
    background: white;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.popup-inner input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.popup-inner .submitForm input {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: green;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.popup-inner button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: grey;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.popup-inner textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 14px;
}

.popup-inner h3 {
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: black;
}



