body {
}

header {
    border:double;
    left: 10px;
    padding-bottom:50px;
}

header .mainMenu {
    position: absolute;
    top: 60px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
}



