body {
    margin:0;
    padding:0;
}

header {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
}

header .main-header {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

header .main-header h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

header .main-header a {
    color: #ffffff;
    text-decoration: none;
}

header .main-header nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 60px;
    padding: 0;
}

header .main-header nav a {
    font-size: 14px;
    display: inline-block;
    padding: 0 5px;
    opacity: 0.9;
    text-decoration: none;
    line-height: 1;
}

header .main-header ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
}

header .main-header ul li {
    display: inline-block;
    margin-left: 15px;
    opacity: 0.9;
}


header .mainMenu {
    position: absolute;
    top: 60px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
}

header .userMenu {
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
}



